.App {
  font-family: 'Kanit', sans-serif;
  color: #03236e;
  max-width: 800px;
  margin: 30px auto;
}

.App .wrapper {
  border: solid 1px #0dcaf0;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.App ul {
  list-style: none;
  font-size: 22px;
  padding: 0;
}

.App h1 {
  font-weight: 200;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.App form {
  margin: 5px auto;
  text-align: right;
}

.App h3 {
  text-align: center;
  margin: 30px auto;
}

.App p {
  text-align: right;
  margin: 20px 0 0 0;
}

.App a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #0dcaf0;
}

.App footer {
  font-weight: 300;
  margin-left: 10px;
  font-size: 16px;
}
