.App {
  font-family: 'Kanit', sans-serif;
  color: #03236e;
  max-width: 800px;
  margin: 30px auto;
}

.App .wrapper {
  border: solid 1px #0dcaf0;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.App p {
  text-align: right;
  margin: 10px 0 0 0;
}

.App a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #0dcaf0;
}

.App footer {
  font-weight: 300;
  margin-left: 10px;
  font-size: 16px;
}
