.Forecast h4,
.Forecast span {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 0.6;
  opacity: 0.8;
}

.Forecast img {
  width: 40px;
}

.Forecast p {
  margin-top: 15px;
  text-align: center;
}
