.Forecast {
  margin-bottom: 0;
}

.Forecast h4,
.Forecast span {
  font-size: 18px;
  font-weight: 300;
  line-height: 0.6;
  opacity: 0.7;
  text-align: center;
  margin: 0;
}

.Forecast .forecast-icon {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.Forecast span {
  display: block;
  margin-top: 10px;
}
