.Weather h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.Weather h2 {
  display: inline;
  font-size: 120px;
  font-weight: 600;
  padding-left: 30px;
}

.Weather span {
  font-size: 40px;
  font-weight: 500;
  color: rgb(3, 35, 110);
}

.Weather img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.Weather form {
  margin: 5px auto;
  text-align: right;
}

.Weather .current-weather {
  list-style: none;
  font-size: 22px;
  font-weight: 200;
  padding: 0;
  margin-left: 30px;
}
