.Weather h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
}

.Weather .weather-icon {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.Weather form {
  margin: 5px auto;
  text-align: right;
}

.Weather .current-weather {
  list-style: none;
  font-size: 22px;
  font-weight: 200;
  padding: 0;
  margin-left: 30px;
}
.Weather section {
  margin-bottom: 30px;
}
